* {
    font-size: large;
    text-align: center;
    margin: 0 auto;
}


body {

    display: flex;
    background-image:url(../img/Cloud.jpg);
    margin: 0;
    height: 100vh;
    justify-items: center;
    flex-direction: column;
  

}

.container {
    width: 800px;
    margin: 0 auto;
}

.Min{
  
    border-radius: 12px;
    padding: 10px;
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 90%;
    background-color: rgba(161, 185, 205, 0.5);
    border-radius: 30px;
    height: 100%;
    margin: 90p;
}

.Title{
   
    display: flex;
    align-self: center;
    color: azure;
    padding: 10px;

    
}


.Pargrph{
    display: flex;
    font-size: 100%;
    align-self:center;
    order: 3;
    color: black;

}

img{  
border: 2px solid cornflowerblue;
border-radius: 100px;
 border-radius: 40%;

}

.Footer{
    display: flex;
    justify-content: center;
    gap: 70px;
    margin-top: auto;
    order: 4;
}


.Link{
    
    display: flex;
    justify-content: center;
    background-color: rgb(131, 107, 165);
    border-radius: 40px;
    width: 100px;
    height: 30px;
    align-items: center;

}

.Link1{
    
    display: flex;
    justify-content: center;
    background-color: rgb(24, 4, 52);
    border-radius: 40px;
    width: 100px;
    height: 30px;
    align-items: center;


}

.Footer a{

    display: flex;
    font-size: 80%;
    color: azure;
}


